body {font-family: arial, sans-serif;}

h1 {
    font-size: 38px;
    font-family: cursive;
}

img {
    padding-top: 10px;
    padding-left: 3px;
}

h2 {
    font-size: 32px;
}

ol {
  list-style: upper-roman inside;
}

header > img {
  width: 100px;
}

ul {
  list-style: square inside;
  padding-left: 3px;
}

nav ul {
    color: inherit;
    list-style: square inside;
    padding-left: 3px;
}

body {
    background-color: floralwhite;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

input:last-child {
    background: whitesmoke;
}

input:last-child:hover {
    -webkit-filter: brightness(92%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(./stars.png);
    vertical-align: bottom;
}

input[type="radio"]:hover {
  background-position: 30px 60px;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}
