body {
  margin: 0 auto; /* classic centering technique */
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: floralwhite;
}

h1 {
  font-size: 38px;
  font-family: cursive;
  margin: 10px 0px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

img {
  padding-top: 10px;
}

ol {
  list-style: upper-roman inside;
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
  margin: 10px 0;
}

.user_review {
  padding-bottom: 10px;
  padding-top: 10px;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

.user_review:first-of-type {
  border-top: 1px solid black;
}

label {
  display: block;
  margin-top: 3px;
}

label:first-of-type {
  margin-bottom: 2px;
}

label:nth-of-type(2) {
  margin-top: 7px;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin: 10px 5px 15px 0px;
}

input:last-child {
  background: whitesmoke;
  margin: 17px 0px 20px 0px;
}

input:last-child:hover {
  -webkit-filter: brightness(92%);
}

input[type="radio"] {
  margin-top: 3px;
  margin-bottom: 8px;
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(./stars.png);
  vertical-align: middle;
}

input[type="radio"]:hover {
  background-position: 30px 60px;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

select {
  margin: 10px 0px;
}

input#name {
  margin-right: 10px;
  margin-top: 3px;
}

select#expertise {
  display: inline;
  min-width: fit-content;
}

textarea {
  width: 340px;
  margin-top: 10px;
}

nav {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  text-decoration-color: black;
  padding: 15px 30px;
  display: block;
}

nav ul li a:hover {
  background-color: #efcd4a;
  color: white;
}

.main-content {
  width: 80%;
  margin: 0 auto;
}

aside {
  display: inline-block;
}

.ingredients-list li {
 margin: 15px 0px;
}

footer {
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
