body {
  font-family: arial, sans-serif;
  background-color: floralwhite;
}

h1 {
    font-size: 38px;
    font-family: cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

header:first-child {
  width: 100%;
}

h2 {
  font-size: 32px;
}

img {
  padding-top: 10px;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-top: 10px;
}

input[type="submit"] {
  margin: 20px 0px;
}

input:last-child {
    background: whitesmoke;
}

input:last-child:hover {
    -webkit-filter: brightness(92%);
}

input#name {
  margin-right: 10px;
  margin-bottom: 10px;
}

select#expertise {
  display: inline;
  min-width: fit-content;
  margin-bottom: 20px;
  margin-top: 0px;
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
  margin: 10px 0;
}

.user_review {
  padding-bottom: 10px;
  padding-top: 10px;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(./stars.png);
    vertical-align: middle;
}

input[type="radio"]:hover {
  background-position: 30px 60px;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

nav {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  text-decoration-color: black;
  padding: 15px 30px;
  display: block;
}

nav ul li a:hover {
  background-color: #efcd4a;
  color: white;
}

body {
  margin: 0 auto; /* classic centering technique */
  width: 80%;
}

aside {
  display: inline-block;
}

.ingredients-list li {
 margin: 15px 0px;
}

footer {
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 375px;
}

label {
  display: block;
}
